/*! @import */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


#section-contacto {
    background: url("../imagenes/bg17.jpg");
    background-size: cover;
  }

  .price::before {
    content: "S/. ";
    font-style: oblique;
  }